{% extends 'base.html' %}

{% block content %}
{% if object %}
        <div class="card">
          <h1>Edit {{object.name}}</h1>
        </div>
    {% else %}
      <div class="card">
        <h1>Add Squishmallow</h1>

    </div>
    {% endif %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <form class="card-panel"action="" method="POST">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <table>
      <!-- Render the inputs inside of <tr>s & <td>s -->
      {{ form.as_table }}
    </table>
    {% if object %}
        <div id="acquire">
          <input type="submit" value="Update {{object.name}}" class="btn" id="upload">
          <input type=button class="btn" id="upload" value="Go Back" onClick="javascript:history.go(-1);">

        </div>
    {% else %}
        <input type="submit" value="Add Squishmallow!" class="btn" id="upload">
    {% endif %}
  </form>

  <script>
    const selectEl = document.getElementById('id_size');
    M.FormSelect.init(selectEl)

    
  const dateEl = document.getElementById('id_date_acquired');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  </script>
{% endblock %} 