* {
  font-family: Georgia, 'Times New Roman', Times, serif;

}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('https://imgix.bustle.com/scary-mommy/2021/09/01/Squishmallow-Feature.jpg?w=1200&h=630&fit=crop&crop=faces&fm=jpg');
    background-size: cover;
  }
  
  h1 {
    text-align: center;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

  nav {
    background-color: blueviolet;
  }

  footer {
    background-color: blueviolet;
  }

  #upload {
    background-color: blueviolet;
  }

  .page-footer {
    background-color: blueviolet;
  }

  form {
    /* background-color: blueviolet; */
    color: pink;
  }

  form label {
    color: pink;
  }

  #acquire {
    text-align: center;
  }

  #dlt {
    text-align: center;
    /* background-color: black; */
  }

  #add_squish {
    display: flex;
    background-color: blueviolet;
    align-items: center;
    text-align: center;
  }
  
  #logo {
    font-size:large;
  }